@using WebApp.Models.ViewModels
@model List<TodoTaskViewModel>


<div class="tasks-container">
    @foreach (var task in Model.Select(x => x.Instance))
    {
        <div class="task">
            @{
                bool isOverdue = task.Deadline.Date < DateTime.UtcNow && !task.IsCompleted;

                string taskTextClass = isOverdue ? "task-text overdue-highlight" : "task-text";
            }
            <div class="task-left">

                <form asp-controller="TodoTaskEdit"
                      asp-action="ToggleComplete"
                      method="post"
                      data-task-id="@task.Id"
                      style="display: inline;">

                    <input type="hidden" name="id" value="@task.Id"/>

                    <input type="checkbox"
                           class="task-checkbox"
                           name="isCompleted"
                           value="true"
                           checked="@task.IsCompleted"
                           onchange="this.form.submit();">
                </form>

                <span class="@taskTextClass">@task.Name</span>
                <span class="task-desc">due to @task.Deadline.ToString("dd MMM yyyy h:mm tt")</span>
            </div>

            <a class="btn btn-primary"
               asp-controller="TodoTaskPage"
               asp-action="Index"
               asp-route-taskId=@task.Id
               asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">
                View
            </a>

            <a class="btn btn-primary"
               asp-controller="TodoTaskEdit"
               asp-action="Edit"
               asp-route-id=@task.Id
               asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">
                Edit
            </a>
        </div>
    }
    
    <a asp-controller="TodoTaskEdit"
       asp-action="CreateTodoTask"
       asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
       asp-route-todoListId="@Context.Request.Query["todoListId"]"
       class="btn btn-primary">
        Create new
    </a>
</div>