@using WebApp.Models.ApiClients.TodoListApiClient
@using WebApp.Models.ViewModels
@model TodoTaskPageViewModel
@inject TodoApiClientContext ClientContext

<form asp-controller="TaskTags" asp-action="AddTagToTask" method="post" class="mb-4">

    <input type="hidden" name="TodoTaskId" value="@Model.Instance.Id" /> 
    <input type="hidden" name="ReturnUrl" value="@(Context.Request.Path + Context.Request.QueryString)" />

    <div class="d-flex align-items-center gap-3">
        <div class="form-group">
            <label for="TaskTagId" class="form-label">Add Tag:</label>
            <select name="TaskTagId" id="TaskTagId" class="form-select">
                <option value="">Select Tag</option>
                @foreach (var tag in Model.Tags)
                {
                    <option value="@tag.Id">@tag.Tag</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-success">Add Tag</button>
    </div>
</form>

<div class="mb-3">
    <strong>Current Tags:</strong>
    @foreach (var selectedTag in Model.SelectedTags)
    {
        <div>
            <a
                asp-controller="TagToTaskEdit"
                asp-action="DeleteTagToTask"
                asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
                asp-route-taskId="@selectedTag.Id"
                asp-route-pageId="@Model.Instance.Id">
                @selectedTag.Tag
            </a>
        </div>
    }
</div>

<h3>DESCRIPTION</h3>
<p>@Model.Instance.Description</p>
<p>---------------------------</p>

<a asp-controller="TaskCommentEdit"
   asp-action="CreateComment"
   asp-route-todoTaskId="@Model.Instance.TodoTaskId"
   asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
   class="btn btn-secondary">
    Add comment
</a>

<a
    asp-controller="TodoTaskPageEdit"
    asp-action="Edit"
    asp-route-id=@Model.Instance.Id
    asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
    class="btn btn-secondary">
    Edit
</a>

<a
    asp-action="Back"
    asp-route-returnUrl="@Model.ReturnUrl"
    class="btn btn-secondary">
    Cancel
</a>


<h5>Comments</h5>

@foreach (var comment in Model.Comments)
{
    <div>
        <a>@comment.Content -</a>
        <a>@comment.Created.ToString("dd MMM yyyy h:mm tt")</a>
        <a
            asp-controller="TaskCommentEdit"
            asp-action="Edit"
            asp-route-id=@comment.Id
            asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
            class="btn btn-secondary">
            Edit
        </a>
        <a
            asp-controller="TaskCommentEdit"
            asp-action="Delete"
            asp-route-id=@comment.Id
            asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
            class="btn btn-secondary">
            Delete
        </a>
    </div>
}